.choose-favs {
    padding-top: clamp(30px, calc(30px + (50px - 30px) * var(--coef-1)), 50px);
}

.pet-name {
    text-align: center;
    font-size: 50px;
}

.animal-title {
    height: 70px;
    overflow: clip;
}

.subheader {
    margin: 20px auto 40px;
}

.carousel__animal {
    height: clamp(500px, calc(500px + (600px - 500px) * var(--coef-1)), 600px);
}

.carousel__animal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(-135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 20%, transparent 50%);
    z-index: 10;
}

.like {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 15px;
    background-color: var(--color-orange);
    mask-image: url(../../assets/icons/heart.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    z-index: 20;
}

.selected .like,
.like.filled {
    mask-image: url(../../assets/icons/heart-fill.svg);
}

/*FAV Stats*/

.fav-stats {
    margin: 40px 0 40px;
}

.donation-stats {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, calc(20px + (40px - 20px) * var(--coef-1)), 40px);
    margin: 30px 0 50px;
}

.fav-animal {
    position: relative;
    display: flex;
    flex-direction: column;
}

.other-donation-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px 0 40px;
}

.other-donation-item {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s;
}

.other-donation-item:hover {
    transform: scale(1.2);
}

.other-donation-item .donation-amount {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: var(--color-white);
}

.animal-logo {
    position: relative;
}

.animal-logo::after {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 60%);
    content: '';
    width: 100%;
    height: 100%;
}

.fav-animal .like {
    position: absolute;
    width: clamp(40px, calc(40px + (60px - 40px) * var(--coef-1)), 60px);
    height: clamp(40px, calc(40px + (60px - 40px) * var(--coef-1)), 60px);
    top: -10px;
    left: -10px;
}

.fav-animal img,
.other-donation-item img {
    border-radius: 50%;
    width: clamp(80px, calc(80px + (150px - 80px) * var(--coef-1)), 150px);
    height: clamp(80px, calc(80px + (150px - 80px) * var(--coef-1)), 150px);
}

.fav-animal img:hover {
    cursor: pointer;
}

.fav-name {
    align-self: center;
    font-size: 20px;
    color: var(--color-main-text);
}

.animal-stats {
    display: flex;
    gap: 20px;
}

.donation-track {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.relative-track {
    display: flex;
    height: clamp(40px, calc(40px + (60px - 40px) * var(--coef-1)), 60px);
    width: 10px;
    background-color: var(--color-orange);
    align-items: center;
    transition: width 0.5s ease-in-out;
}

.relative-track span {
    display: inline-block;
    color: var(--color-navy);
    font-size: 20px;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .carousel {
        width: 100%;
        margin: 0;
    }
}
