.choose-favs {
    padding-top: clamp(30px, calc(30px + (50px - 30px) * var(--coef-1)), 50px);
}

.pet-name {
    text-align: center;
    font-size: 50px;
}

.animal-title {
    height: 70px;
    overflow: clip;
}

.subheader {
    margin: 20px auto 40px;
}

.carousel__animal {
    height: clamp(500px, calc(500px + (600px - 500px) * var(--coef-1)), 600px);
}

.carousel__animal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(-135deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 20%, transparent 50%);
    z-index: 10;
}

.like {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    top: 15px;
    background-color: var(--color-orange);
    mask-image: url(../../assets/icons/heart.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    z-index: 20;
}

.selected .like {
    mask-image: url(../../assets/icons/heart-fill.svg);
}

/*FAV Stats*/

.fav-stats {
    margin: 40px 0 40px;
}

.donation-stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fav-animal {
    display: flex;
    flex-direction: column;
}

.fav-animal img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.fav-animal img:hover {
    cursor: pointer;
}

.fav-name {
    align-self: center;
    font-size: 30px;
    color: var(--color-main-text);
}

.animal-stats {
    display: flex;
    gap: 40px;
}

.donation-track {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.relative-track {
    display: flex;
    height: 60px;
    width: 10px;
    background-color: var(--color-orange);
    align-items: center;
    transition: width 0.5s ease-in-out;
}

.relative-track span {
    display: inline-block;
    color: var(--color-navy);
    font-size: 30px;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .carousel {
        width: 100%;
        margin: 0;
    }
}
