/*LANDING*/
main > section {
    margin-bottom: clamp(50px, calc(50px + (100px - 50px) * var(--coef-1)), 100px);
}

.hero {
    position: relative;
    height: clamp(644px, calc(644px + (686px - 644px) * (1 - var(--coef-1))), 686px);
    padding-top: clamp(20px, calc(20px + (47px - 20px) * var(--coef-1)), 47px);
}

.hero-bg {
    position: absolute;
    height: clamp(291px, calc(291px + (387px - 291px) * var(--coef-1)), 387px);
    width: 100%;
    bottom: 0;
    z-index: -1;
    background-image: url('../../assets/images/hero-320.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 84% bottom;
}

h1 {
    letter-spacing: 1.9px;
    width: 100%;
    margin-bottom: 11px;
}

h2 {
    margin-bottom: clamp(25px, calc(25px + (29px - 25px) * var(--coef-1)), 29px);
}

.hero p {
    margin-bottom: clamp(25px, calc(25px + (30px - 25px) * (1 - var(--coef-1))), 30px);
    width: 100%;
    max-width: 340px;
}

img {
    margin-bottom: 28px;
    height: auto;
}

.welcome__info {
    margin-bottom: 45px;
}

.welcome__description p span {
    display: none;
}

/*QUICK DONATION*/
.quick-donation {
    background-color: var(--color-navy);
    padding-top: clamp(28px, calc(28px + (50px - 28px) * var(--coef-1)), 50px);
    padding-bottom: clamp(40px, calc(40px + (47px - 40px) * var(--coef-1)), 47px);
}

.quick-donation h2 {
    margin-bottom: 28px;
    font-size: clamp(26px, calc(26px + (42px - 26px) * var(--coef-1)), 42px);
}

.quick-donation p {
    margin-bottom: clamp(28px, calc(28px + (30px - 28px) * (1 - var(--coef-1))), 30px);
}

.quick-donation h3 {
    margin-bottom: 10px;
}

.quick-donation .btn--double {
    margin: 0 auto;
}

@media (min-width: 340px) {
    .hero-bg {
        background-image: url('../../assets/images/hero-640.png');
    }
}

@media (min-width: 640px) {
    .hero {
        height: clamp(644px, calc(644px + (690px - 644px) * var(--coef-2)), 690px);
        padding-top: clamp(47px, calc(47px + (100px - 47px) * var(--coef-2)), 100px);
    }
    h1 {
        letter-spacing: 0.9px;
        line-height: 124%;
        max-width: 890px;
    }
    .hero p {
        margin-bottom: 25px;
    }
    .btn--orange {
        max-width: 285px;
    }
    .hero-bg {
        height: clamp(387px, calc(387px + (690px - 387px) * var(--coef-2)), 690px);
        background-image: url('../../assets/images/hero-640.png');
        background-size: 100% 100%;
    }

    h2 {
        max-width: 523px;
        letter-spacing: 0.5px;
        line-height: 125%;
    }

    .welcome__description p span {
        display: inline;
    }

    /*Quick Donation*/

    .quick-donation h2 {
        max-width: 565px;
        margin: 0 auto 27px;
        letter-spacing: 0px;
    }

    .quick-donation p {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    main > section {
        margin-bottom: clamp(100px, calc(100px + (150px - 100px) * var(--coef-3)), 150px);
    }

    .hero {
        height: clamp(690px, calc(690px + (790px - 690px) * var(--coef-3)), 790px);
        padding-top: clamp(100px, calc(100px + (129px - 100px) * var(--coef-3)), 129px);
    }

    h1 {
        width: 74.1%;
        margin-bottom: clamp(10px, calc(10px + (30px - 10px) * var(--coef-3)), 30px);
        line-height: 122%;
    }

    .btn--orange {
        max-width: 240px;
    }

    .hero-bg {
        height: 100%;
        background-image: url('../../assets/images/hero-1200.png');
        background-position-y: -34px;
        background-size: 100% auto;
    }

    .hero p {
        margin-bottom: clamp(25px, calc(25px + (45px - 25px) * var(--coef-3)), 45px);
        width: clamp(340px, calc(340px + (430px - 340px) * var(--coef-3)), 430px);
        max-width: 430px;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        gap: 73px;
    }

    .welcome__info {
        margin-bottom: 0;
        margin-left: clamp(100px, 8%, 150px);
    }
    .welcome__info:last-child {
        align-self: flex-end;
        margin-left: 0;
        margin-right: clamp(100px, 8%, 150px);
    }
    .welcome__info .container {
        padding: 0;
    }
    .welcome__info img {
        width: 660px;
        height: 439px;
        margin-bottom: 25px;
    }
    .welcome__info h2 {
        max-width: 523px;
    }
    .welcome__info p {
        max-width: 560px;
    }

    .quick-donation {
        padding-bottom: 24px;
    }

    .quick-donation .container {
        display: flex;
        gap: clamp(106px, calc(106px + (161px - 106px) * var(--coef-3)), 161px);
    }

    .quick-donation h2,
    .quick-donation h3,
    .quick-donation p {
        text-align: left;
    }
    .quick-donation h2 {
        margin: 0 0 27px;
        width: 100%;
        max-width: 889px;
    }

    .quick-donation p {
        width: 100%;
        max-width: 609px;
        margin-left: 0;
        margin-right: 0;
    }
    .donation__descr {
        margin-left: 58px;
        flex-grow: 1;
    }
    .donation__btn {
        margin-right: 60px;
        padding-top: 3px;
    }
}

@media (min-width: 1920px) {
    .hero {
        height: 790px;
        padding-top: 129px;
    }

    .hero-bg {
        background-image: url('../../assets/images/hero-1920.png');
        background-position-x: -10px;
        background-position-y: -49px;
        background-size: 97%;
    }

    h1 {
        margin-bottom: 30px;
    }

    .hero p {
        max-width: 430px;
        margin-bottom: 45px;
    }

    .welcome {
        align-items: center;
        gap: 150px;
    }

    .welcome h2 {
        margin: 0;
    }

    .welcome img {
        margin-bottom: 0;
    }

    .welcome__info {
        display: flex;
        margin: 0;
        gap: 40px;
    }

    .welcome__info:last-child {
        margin: 0;
        align-self: center;
    }

    .welcome__info img {
        width: 800px;
        height: 531px;
    }

    .welcome__info:nth-child(odd) img {
        order: 1;
    }

    .welcome__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .quick-donation {
        padding-bottom: 18px;
    }
    .donation__descr,
    .donation__btn {
        margin: 0;
    }

    .quick-donation h2 {
        max-width: 889px;
        margin: 0 0 19px;
    }
    .quick-donation p {
        max-width: 609px;
    }
    .quick-donation h3 {
        margin-bottom: 8px;
    }
}
