/*CAMS*/
section {
    margin-bottom: clamp(50px, calc(50px + (80px - 50px) * var(--coef-1)), 80px);
}
.cams .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: clamp(20px, calc(20px + (27px - 20px) * var(--coef-1)), 27px);
    gap: 15px;
}

.cams h2 {
    font-size: clamp(26px, calc(26px + (42px - 26px) * var(--coef-1)), 42px);
    margin-right: clamp(0px, calc(0px + (70px - 0px) * var(--coef-1)), 70px);
}

.cams h3 {
    text-align: center;
    margin-top: 5px;
    padding-left: 21px;
    font-size: clamp(18px, calc(18px + (26px - 18px) * var(--coef-1)), 26px);
}

.more-views {
    width: 100%;
}

.cams .controls {
    display: none;
}

.player {
    position: relative;
    width: clamp(270px, calc(270px + (542px - 270px) * var(--coef-1)), 542px);
    height: clamp(200px, calc(200px + (402px - 200px) * var(--coef-1)), 402px);
    background-color: grey;
    margin-right: clamp(-10px, calc(-10px + (0px + 10px) * var(--coef-1)), 0px);
}

.player .title {
    display: none;
}

.player .logo {
    position: absolute;
    right: 10px;
    bottom: 16px;
    background-color: var(--color-white);
    mask-size: cover;
    width: 27px;
    height: 14px;
}

.views__carousel {
    overflow: hidden;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 0;
}

.view__list {
    display: flex;
    gap: 20px;
    max-width: 310px;
    width: clamp(310px, calc(310px + (445px - 310px) * var(--coef-1)), 445px);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.view__element {
    position: relative;
    width: clamp(135px, calc(135px + (140px - 135px) * (1 - var(--coef-1))), 140px);
    height: clamp(106px, calc(106px + (110px - 106px) * (1 - var(--coef-1))), 110px);
    border-radius: 5px;
    background-color: grey;
    flex-shrink: 0;
}

.view__element.active,
.view__element:hover {
    border: 2px solid var(--color-orange);
}

.play-btn {
    position: absolute;
    top: calc(50% - 8.5px);
    left: calc(50% - 12px);
    width: 24px;
    height: 17px;
    background: url('../../assets/icons/play.png') no-repeat;
    background-size: cover;
}

.cams .btn {
    align-self: center;
    margin-top: 36px;
    padding-top: clamp(8px, calc(8px + (10px - 8px) * var(--coef-1)), 10px);
    padding-bottom: clamp(8px, calc(8px + (10px - 8px) * var(--coef-1)), 10px);
}

@media (min-width: 640px) {
    section {
        margin-bottom: clamp(80px, calc(80px + (100px - 80px) * var(--coef-2)), 100px);
    }

    .cams h2 {
        font-weight: 500;
        font-size: clamp(42px, calc(42px + (54px - 42px) * var(--coef-2)), 54px);
        line-height: 130%;
        letter-spacing: 0.5px;
    }

    .cams h3 {
        font-size: clamp(26px, calc(26px + (42px - 26px) * var(--coef-2)), 42px);
    }

    .player {
        width: clamp(542px, calc(542px + (1025px - 542px) * var(--coef-2)), 1025px);
        height: clamp(402px, calc(402px + (760px - 402px) * var(--coef-2)), 760px);
    }

    .player .play-btn {
        width: 38px;
        height: 26px;
        top: calc(50% - 13px);
        left: calc(50% - 19px);
    }

    .player .logo {
        right: 22px;
        bottom: 32px;
        width: 54px;
        height: 28px;
    }

    .cams .btn {
        margin-top: 7px;
        width: clamp(212px, calc(212px + (240px - 212px) * var(--coef-2)), 240px);
        order: 2;
        align-self: flex-end;
    }

    .more-views {
        order: 3;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: clamp(20px, calc(20px + (30px - 20px) * var(--coef-2)), 30px) 20px;
        margin-top: 5px;
    }
    .more-views h3 {
        text-transform: none;
        font-weight: 500;
        grid-area: 1/ 3 / 2 /9;
        justify-self: start;
        padding: 0;
        margin-top: 0;
    }
    .more-views .views__carousel {
        margin: 0;
        grid-area: 2/ 3 / 3 / 9;
        justify-self: start;
    }

    .view__list {
        max-width: none;
        width: clamp(445px, calc(445px + (835px - 445px) * var(--coef-2)), 835px);
    }

    .view__element {
        width: clamp(135px, calc(135px + (265px - 135px) * var(--coef-2)), 265px);
        height: clamp(106px, calc(106px + (209px - 106px) * var(--coef-2)), 209px);
    }
}

@media (min-width: 1200px) {
    section {
        margin-bottom: clamp(100px, calc(100px + (150px - 100px) * var(--coef-3)), 150px);
    }

    .cams .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        column-gap: clamp(71px, calc(71px + (196px - 71px) * var(--coef-3)), 196px);
        row-gap: 10px;
        padding-top: clamp(27px, calc(27px + (40px - 27px) * var(--coef-3)), 40px);
    }
    .container h2 {
        order: 0;
        margin: 0;
        width: auto;
    }
    .cams .container .btn {
        order: 1;
        padding-top: clamp(14px, calc(14px + (24px - 14px) * var(--coef-3)), 24px);
        padding-bottom: clamp(14px, calc(14px + (24px - 14px) * var(--coef-3)), 24px);
        align-self: center;
    }
    .container .player {
        order: 2;
        margin-top: clamp(20px, calc(20px + (34px - 20px) * var(--coef-3)), 34px);
    }

    .player {
        width: clamp(1025px, calc(1025px + (1400px - 1025px) * var(--coef-3)), 1400px);
        height: clamp(760px, calc(760px + (787px - 760px) * var(--coef-3)), 787px);
    }

    .player .title {
        display: block;
        position: absolute;
        top: 11px;
        left: 17px;
        font-size: 27.47px;
        line-height: 130%;
        letter-spacing: 0.1px;
        color: var(--color-white);
    }
    .player .play-btn {
        width: 72px;
        height: 50px;
        top: calc(50% - 25px);
        left: calc(50% - 36px);
    }
    .player .logo {
        right: 42px;
        bottom: 62px;
        width: 102px;
        height: 53px;
    }

    .container .more-views {
        order: 3;
        grid-template-columns: repeat(12, 1fr);
        margin-top: clamp(0px, calc(0px + (92px - 0px) * var(--coef-3)), 92px);
    }
    .more-views h3 {
        justify-self: center;
        grid-column: 2 / 13;
        text-transform: uppercase;
        margin-left: clamp(-112px, calc(-112px * var(--coef-3)), 0px);
    }
    .more-views .views__carousel {
        justify-self: center;
        grid-column: 2 / 13;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        width: auto;
    }
    .view__element {
        width: clamp(265px, calc(265px + (320px - 265px) * var(--coef-3)), 320px);
        height: 209px;
    }
    .more-views .view__list {
        width: clamp(835px, calc(835px + (1040px - 835px) * var(--coef-3)), 1040px);
        overflow: hidden;
        gap: clamp(20px, calc(20px + (40px - 20px) * var(--coef-3)), 40px);
    }

    .view__element .play-btn {
        top: calc(50% - 16px);
        left: calc(50% - 23px);
        width: 46px;
        height: 32px;
    }

    .cams .controls {
        display: inline-block;
        margin-top: clamp(-20px, calc(-20px + 15px * var(--coef-3)), -5px);
    }

    .controls .prev,
    .controls .next {
        background-color: var(--color-black);
    }
}

@media (min-width: 1920px) {
    .player .title {
        font-size: 28.44px;
    }
    .player .play-btn {
        width: 74px;
        height: 52px;
        top: calc(50% - 26px);
        left: calc(50% - 37px);
    }

    .player .logo {
        right: 21px;
        bottom: 64px;
        width: 105px;
        height: 55px;
    }
}

/*QUICK DONATION*/

.quick-donation {
    background-color: var(--color-navy);
    padding-top: clamp(20px, calc(20px + (50px - 20px) * var(--coef-1)), 50px);
    padding-bottom: 48px;
}

.quick-donation h2 {
    margin-bottom: clamp(26px, calc(26px + (35px - 26px) * var(--coef-1)), 35px);
    font-size: clamp(26px, calc(26px + (42px - 26px) * var(--coef-1)), 42px);
}

.quick-donation p {
    margin-bottom: clamp(23px, calc(23px + (28px - 23px) * var(--coef-1)), 28px);
}

.quick-donation h3 {
    margin-bottom: 10px;
}

.quick-donation .btn--double {
    margin: 0 auto;
}

@media (min-width: 640px) {
    .quick-donation {
        padding-top: clamp(32px, calc(32px + (50px - 32px) * (1 - var(--coef-2))), 50px);
        padding-bottom: clamp(30px, calc(30px + (48px - 30px) * (1 - var(--coef-2))), 48px);
    }
    .quick-donation h2 {
        margin-bottom: clamp(18px, calc(18px + (27px - 18px) * (1 - var(--coef-2))), 27px);
        letter-spacing: -0.3px;
        font-weight: 400;
    }

    .quick-donation p {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: clamp(0px, calc(0px + (48px - 0px) * (1 - var(--coef-2))), 48px);
    }
}
@media (min-width: 1200px) {
    .quick-donation {
        margin-bottom: clamp(100px, calc(100px + (135px - 100px) * var(--coef-3)), 135px);
        padding-top: clamp(32px, calc(32px + (50px - 32px) * var(--coef-3)), 50px);
        padding-bottom: clamp(30px, calc(30px + (48px - 30px) * var(--coef-2)), 48px);
    }

    .quick-donation .container {
        display: flex;
        gap: 60px;
    }

    .quick-donation h2,
    .quick-donation h3,
    .quick-donation p {
        text-align: left;
    }
    .quick-donation h2 {
        width: 100%;
        max-width: none;
        letter-spacing: 0.3px;
    }

    .quick-donation p {
        width: 99%;
        margin-left: 0;
        margin-right: 0;
    }
    .donation__descr {
        flex-grow: 1;
    }
}
@media (min-width: 1920px) {
    .donation__descr,
    .donation__btn {
        margin: 0;
    }

    .quick-donation h2 {
        margin: 0 0 22px;
    }

    .quick-donation h3 {
        margin-bottom: 8px;
    }
}
